html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  font-weight: 500;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  flex: 1;
  display: flex;
  width: 100vw;
  /* background-color: #eeeeee; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 50px; */
}

.coverimg {
  /*  width: 100%; */
  /* height: 100%; */
  opacity: 1;
  background-color: black;
  position: fixed;
  z-index: -1;
  background-attachment: fixed;
  /* background-size: inherit; */
  /* object-fit: cover; */
}

.card {
  width: 360px;
  height: 400px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  background-color: white;
  border-radius: 8px;
}

.mainApp {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  /* box-shadow: 0px 0px 40px 0px #0000002a; */
  /* border-radius: 8px; */
}

.page1 {
  display: block;
  flex: 2;
  width: 100%;
  padding-left: 10px;
  /* height: 100%; */
  /* position: fixed; */
  /* overflow: scroll; */
  /* background-color: lightcoral; */
  /* padding: 20px 20px 0 20px; */
  /* box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192); */
}
.page2 {
  display: block;
  flex: 10;
  padding-left: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* width: 100%; */

  /* height: 100%; */
  /* position: fixed; */
  /* overflow: scroll; */
  /* background-color: skyblue; */
  /* padding: 20px 20px 0 20px; */
  /* box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192); */
}
.page3 {
  display: block;
  /* padding-left: 20px; */
  background-color: #fff;
  /* height: 100%; */
  /* position: fixed; */
  /* overflow: scroll; */
  /* background-color: seashell; */
  /* padding: 20px 20px 0 20px; */
  /* box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192); */
}

.block1 {
  position: relative;
  width: 1240px;
  height: 45%;
  padding: 20px 20px 20px 20px;
  /* background-color: maroon; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 20px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  border-radius: 10px;
}
.block1:hover,
.block2:hover,
.block3:hover {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.192);
}
.block-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 1280px;
  height: 33%;
  margin-top: 20px;
  /* background-color: mediumpurple; */
  flex-direction: row;
}

.block2 {
  position: relative;
  width: 590px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  /* background-color: mediumblue; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  border-radius: 10px;
}

.block3 {
  position: relative;
  width: 590px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  /* background-color: mediumseagreen; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  border-radius: 10px;
}

.headText {
  margin: 10px 20px 20px 20px;
  font-size: 28px;
}
.hometext {
  margin: 0px 20px 60px 20px;
}
.homeButton {
  margin: 0px 20px 20px 20px;
  text-decoration: none;
  background-color: #0172fc;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  color: #fff;
}
.align {
  display: flex;
  flex-direction: row;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f171;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.568);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.headTextDashboard {
  margin: 20px 20px 20px 0px;
  font-size: 40px;
  white-space: nowrap;
}
.headTextDashboard-white {
  margin: 20px 20px 20px 0px;
  font-size: 40px;
  white-space: nowrap;
  color: #fff;
}

.index {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #0172fc;
}
.leftBlock {
  display: flex;
  min-width: 150px;
  height: 100%;
  background-color: #fff;
  padding: 0px 0 0px 30px;
}
.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 1000px;
  padding: 0px 40px 40px 40px;
  background-color: #0172fc;
}
.brand {
  font-size: 80px;
  color: #fff;
  line-height: 96px;
}
.descriptionBrand {
  font-size: 80px;
  color: #fff;
  line-height: 96px;
}

.rowBtnIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin-top: 80px;
}
.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 40px;
}
.loadingBoxWithMarginTop {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  height: 20px;
  width: 40px;
}

.modalDashboard {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  left: 0;
}

.modalContentDashboard {
  width: 600px;
  height: 800px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
}

.headModalDashboard {
  margin: 10px 20px 10px 0px;
  font-size: 40px;
  white-space: nowrap;
  height: 50px;
}

.modalFish {
  display: flex;
  flex: 1;
  width: 540;
  height: 670px;
  margin-top: 20px;
  background-color: #eaeaea;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.modalFactor {
  display: flex;
  flex: 1;
  width: 540;
  height: 670px;
  margin-top: 20px;
  background-color: #eaeaea;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.listFish {
  display: flex;
  width: 540px;
  padding: 10px 20px 10px 20px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  flex-direction: column;
}
.fishName {
  font-size: 20px;
  margin-bottom: 10px;
}
.rowModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgb(255, 82, 82);
  color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.close:hover {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgb(255, 82, 82);
  color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.192);
}

.detail {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #0172fc;
  color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.detail:hover {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #0172fc;
  color: #fff;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.192);
}
.listFacror {
  display: flex;
  width: 540px;
  padding: 10px 20px 10px 20px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.192);
  flex-direction: column;
}
